 
<!DOCTYPE html>{% extends "base.html" %}
{% load static %}

{% block body_block %}

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/css?family=Alex+Brush&display=swap" rel="stylesheet"> 





 
         <div>
        <div class="teamcontent " >
            <div class="row">
                <div class="col">
                        <h1 class="text-center congratulations" style="font-family: 'Alex Brush', cursive; font-size: 10vw;
                        font-weight:1px;">Varsity</h1>
                </div>
        </div>
        <hr style="border-width: 3px; border-color: rgba(200, 200, 200, 0.767);">
        <div class="display-4 w3-center" data-aos="zoom-out-down" style="color:grey;">Advising Committee</div>
          <div class="container zoom" data-aos="fade-down-up" style="background-color: rgba(160, 160, 160, 0.192);
          box-shadow: 3px 3px 5px grey;">
            <h4 style="text-align: center ; font-size:2rem;font-weight:bolder; margin-top: 20px; color:rgba(34, 34, 34, 0.623);"data-aos="flip-left" >FACULTY ADVISORS</h4>
            <div class="container-fluid" style="text-align: center; margin-top: 5px; width:80%;">
                    <div class="row" style="padding:20px; ">
                      
            <div class="col-lg-12" style="text-align: center; color:rgb(0, 0, 0);">
                    <b>DR. RAJIV KUMAR SINGH</b>  <i style=" font-size: 1rem">Assistant Professor (ECE DEPT.) </i><br>
                    <b>DR. RAM CHANDRA SINGH CHAUHAN </b> <i> Associate Professor (ECE DEPT.)</i><br>
                    <b>DR. SEETHALAKSHMI </b> <i>Associate Professor(EE DEPT.)</i><br>
                    <b>MRS. PARUL YADAV</b>  <i>Asssistant Professor (CSE DEPT.)</i><br>
                    <b>DR. UPENDRA KUMAR </b> <i>Asssistant Professor (CSE DEPT.)</i><br></div></div></div></div>
          <div class="container zoom" data-aos="fade-up" style=" margin-top:15px;  box-shadow: 3px 3px 5px grey;">
           <h4 style="text-align: center ; font-size:2rem;font-weight:bolder; margin-top: 20px; color:rgba(34, 34, 34, 0.623);" data-aos="flip-right">MENTORS (BATCH 2015-2019)</h4>

            <div class="container-fluid" style="text-align: center; margin-top: 5px; margin-bottom:5px;width:80%;">
                <div class="row" style="padding:20px; color:rgb(139, 139, 139);">
                    <div class="col-lg-6"  >
            <b>ASHEESH RAIKWAR</b> <br><!---i style="font-size: 1rem;">Batch 2015-19</i><br-->  
            <b>DEEPAK SHARMA</b><br> <!---i style="font-size: 1rem;">Batch 2015-19</i><br-->   
            <b>ANKUR SINGH</b> <br><!---i style="font-size: 1rem;">Batch 2015-19</i><br-->       
            <b>PALAK AGARWAL</b> <br></div><!---i style="font-size: 1rem;">Batch 2015-19</i><br--> 
            <div class="col-lg-6">
                <b>VIKAS SWAROOP</b> <br><!---i style="font-size: 1rem;">Batch 2015-19</i><br--> 
                <b>ASHUTOSH DWIVEDI</b> <br><!---i style="font-size: 1rem;">Batch 2015-19</i><br--> 
                <b>CHANDAN JAISWAL</b> <br><!---i style="font-size: 1rem;">Batch 2015-19</i><br--> 
                <b>SHRETIKA JAIN</b> <br><!---i style="font-size: 1rem;">Batch 2015-19</i><br--> 
            </div>
            </div>
            </div>
            </div>
            <div class="display-4 w3-center" data-aos="flip-down" style="color:grey;">Working Committee</div>  
            <div class="container-fluid" style="text-align: center;">
                <div class="row" style="padding:20px;">
                    <div class="col-lg-6" style="padding:17px;">
                        <div class="zoom"
                        style="color:rgb(0, 0, 0);
                        background-color: rgba(160, 160, 160, 0.192);box-shadow: 3px 3px 5px grey;
                        text-align: left;
                        padding:4%;
                        background-size: cover;
                        height:30%;
                        " data-aos="flip-left">
           <h4 style="text-align: center ; font-size:2rem;font-weight:bolder; margin-top: 0px; color:rgba(34, 34, 34, 0.623);" data-aos="zoom-in-left" data-aos-delay="700" data-aos-duration="5000">Co-ordinators</h4>
           <p style="text-align: center;color:rgb(0, 0, 0);"> 
                HARSH JAIN <i style="font-size: .6rem;">Batch 2016-20</i><br>
                LEKHRAJ SINGH <i style="font-size: .6rem;">Batch 2016-20</i><br>
                <b>SECRETARY:</b> YADUVEER SINGH <i style="font-size: .6rem;">Batch 2016-20</i><br>
                <b>TREASURER:</b> JYOTSNA SHARMA <i style="font-size: .6rem;">Batch 2016-20</i><br></p>
                        </div>
                        <div class="zoom"
                        style="
background-color: rgba(160, 160, 160, 0.192);                        
text-align: left;box-shadow: 3px 3px 5px grey;
                        padding:30px;
                        background-size: cover;
                        margin-top:30px;
                        height:66%;
                        color:rgb(0, 0, 0);" data-aos="flip-up">
           <h4 style="text-align: center ; font-size:2rem;font-weight:bolder; margin-top: 0px; color:rgba(92, 89, 89, 0.644);"data-aos="zoom-out-down" data-aos-duration="5000" data-aos-delay="700">Batch 2016-20 Members</h4>
           <p style="text-align: center;"> 
                ABHISHEK KUMAR (EC)<br>
                ADITYA VERMA (EC)<br>
                AMIT KR. PRAJAPATI (EI)<br>
                ANANYA JAISWAL (EI)<br>
                HARSHDEEP SINGH (EC)<br>
                KINJAL JAIN (CSE)<br>
                NISHANT KUMAR (EE)<br>
                PRANAV SRIVASTAVA (EC)<br>
                RAM MAHESH (EC)<br>
                SHIKHAR SHUKLA (EC)<br>
                SHREYA GUPTA (EI)<br>
                SHRUTI JOSHI (EC)<br>
                </p>
                    </div>
                </div>
                <div class="col-lg-6" style="padding:17px;">
                <div class="zoom"
                style="color:rgb(0, 0, 0);
                background-color: rgba(160, 160, 160, 0.192);box-shadow: 3px 3px 5px grey;
                text-align: left;
                background-size: cover;
                padding: 20px;
                " data-aos="flip-left" data-aos="flip-right">
           <h4 style="text-align: center ; font-size:2rem;font-weight:bolder; margin-top: 0px; color:rgba(92, 89, 89, 0.644);" data-aos="zoom-in-left"data-aos-duration="5000" data-aos-delay="700">Batch 2017-21 Members</h4>
           <p style="text-align: center;"> 
                        ANIRUDH AGARWAL (CSE)<br>
                        ANKITA GUPTA (EI) <br>
                        ASHISH KORI (EI) <br>
                        HARISH DOHAN (EI) <br>
                        HARSIMAR KAUR (EI) <br>
                        KANISHK SINGHAL (CSE) <br>
                        KOUSTUBH JAISWAL (EE) <br>
                        KSHITIJ JAISWAL (EE) <br>
                        KUMAR GAURAV SAHU (EE) <br>
                        KUSHAGRA SHUKLA (CSE) <br>
                        LOKENDRA (EE) <br>
                        PRAKASH RATHORE (EI) <br>
                        PUSHPENDRA SINGH (EE) <br>
                        RICHA SHARMA (EI) <br>
                        RISHABH KUMAR (ME) <br>
                        SAJAL JAIN (EC) <br>
                        SATYAM SINGH (EC) <br>
                        SHRIKRISHAN BAGHEL (EC) <br>
                        SHUBAHM JAISWAL (EC) <br>
                        SHUBHAM SAINI (CHE) <br>
                        SHUBHAM SINGH (EC) <br>
                        SHUBHAM GUPTA (EC) <br>
                        VAISHNAVI PAL (EE) <br>
                        VIKAS (EC) <br>
                        YOGESH YADAV (EE) <br>
                        </p>
                    </div>
                </div>
                </div>
        </div>
        <hr style="border-width: 3px; border-color: rgba(200, 200, 200, 0.767);">
        <div id="h1" class="display-4 w3-center " data-aos="fade-up" style="color: grey">Co-ordinators View</div>
        <div class="container-fluid">
            <div class="row" style="padding:15px;">
              <div class="col-lg-6 " style="padding:15px;" >
              <div class="zoom"
              style="color:black;
              box-shadow: 3px 3px 5px grey;
              text-align: left;               
              padding:10px;
              background-size: cover;
              margin-top:20px ;
              height: 97%;
              " data-aos="fade-down-left">
              <img src="{%static "images/coord.jpeg" %}" style="float: left; margin: 20px;">
              <p><i class='fas fa-quote-left display-4 '></i> The Robotics Club was established with a goal to
                bridge the gap between the curriculum and practical
                out of the box thinking. The club carried its legacy of
                imparting the knowledge of robotics, automation,
                embedded system and other enthralling fields.
                Having such a club was always a dream which can
                provide a platform for like-minded tech-enthusiasts to
                come up and work together, and being the part of
                such club and discharging my responsibilities as the coordinator of the club
                was a great opportunity mainly because of lifting our spirits high and more so
                because I always wanted to do something for the upcoming juniors. Always
                wished to provide them a platform open for discussions, workshops and
                contests that’d go a long way in shaping their lives. This is one of the few
                registered clubs at the institute and has seen exponential growth since its
                official inception. The club foresees a long road and will build up on its ethos
                in the upcoming sessions.</p><br>
                <h6 style="text-align:right; font-weight: bolder; color:rgba(92, 89, 89, 0.644);">-HARSH JAIN, ECE 3RD YEAR</h6></div>
              </div>
              <div class="col-lg-6" style="padding:15px;">
               <div class="zoom"
               style="color:black;
               box-shadow: 3px 3px 5px grey;
               text-align: left;                  
               padding:10px;
               background-size: cover;
               margin-top:20px ;
               height: 97%;
               " data-aos="fade-down-right">
               <img src="{% static "images/lekh.jpeg" %}" style="float: left; margin: 20px;">
               <p><i class='fas fa-quote-left display-4 '> </i> Being an electronics & robotics enthusiast, it gives me immense
                    pleasure to present to you this magazine which is a compilation of
                    efforts of members of the club. This club very capably provides
                    students to visualize beyond their curriculum and dive into world of
                    interdisciplinary sciences. Various students from all the branches of
                    Institute contribute to various club activities and this necessary
                    blend is the soul strength of this club. Being part of this club is in
                    itself a responsibility and to contribute to its betterment has always
                    been the goal. I'm very glad to see that our hard work is also
                    reflected in our results and I being the coordinator take proud in
                    achievements of its members. There has been a high number of
                    participation of club members in various competitions and we were able
                    to mark our presence in every competition we took part in. Support of
                    faculty mentors has been tremendous and all this won't have been
                    possible because of ample amount of positive response from their side.
                    We, as a fraternity, promise to continue this journey of learning with
                    belief that this expedition will add value to different part of our
                    life and society.</p>
                    <h6 style="text-align:right; font-weight: bolder; color:rgba(92, 89, 89, 0.644);">-LEKHRAJ, ECE 3RD YEAR</h6></div>

              </div>
            </div>
        </div>
        <div class="display-4 w3-center" data-aos="zoom-in" style="color:grey;">Ex Co-ordinators View</div>
        <div class="container-fluid">
            <div class="row" style="padding:10px;">
              <div class="col-lg-6" >
              <div class="zoom"
              style="color:black;
              box-shadow: 3px 3px 5px grey;
              text-align: left;
              padding:10px;
              background-size: cover;
              margin-top:20px ;
              height: 97%;
              " data-aos="flip-up">
              <img src="{% static "images/exco1.jpeg" %}" style="float: left; margin: 20px;">
              <p><i class='fas fa-quote-left display-4 '> </i> Long gone are the days where setting up
                robotics club & training students on latest
                robotics technologies were limited to only IITs.
                But in 2018 we started to take a initiatives to
                establish & run the robotics club within our
                campus to compete and stay ahead of their
                peers. As a founding member I always have a
                vision to provide students with great
                opportunities to be innovative and to develop projects that will push them to
                the next level in their careers through Robotics club. While the robotics club
                largely benefits the student community and supports innovation happening
                within the campus, setting up a club is not easy. The real challenge is to make
                it in a way students use it and build lots of projects.
                Wrapping up, If you know nothing about robotics but still want to pursue it as a
                hobby or profession, you can still learn and master the subject to the level that
                you want by following a structured method of learning which robotics club
                provides.
                </p><br>
                <h6 style="text-align:right; font-weight: bolder; color:rgba(92, 89, 89, 0.644);">-ASHEESH RAIKWAR, EC 4 TH YEAR</h6></div>
              </div>
              <div class="col-lg-6">
               <div class="zoom"
               style="color:black;
               box-shadow: 3px 3px 5px grey;
               text-align: left;
               padding:10px;
               background-size: cover;
               margin-top:20px ;
               height: 97%;
               " data-aos="flip-right">
             <img src="{% static "images/exco2.jpeg" %}" style="float: left; margin: 20px;">

               <p><i class='fas fa-quote-left display-4 '></i> My journey from Robotics hobbyist to
                Robotics Professional contains a lot of
                milestones in between which made me
                realize who I am and what I exactly
                learned. The Robotics Club is for all those
                future engineers who have the courage to
                accept the challenges in the field of
                Engineering and have the capabilities to
                turn imagination into reality and get a
                practical orientation which would eventually enhance their employability.
                I always believe if you love doing something, if you are passionate enough, if
                you are motivated enough , if you are confident enough , you shouldn’t worry
                about the outcome, just keep doing it because it makes you happy.</p>
                <h6 style="text-align: right; font-weight: bolder; color:rgba(92, 89, 89, 0.644);">- SHIVAM KAPOOR, (2014-18) R&D,<br>
                GREY ORANGE ROBOTICS</h6>
                </div>
              </div>
            </div>
        </div>
        <div class="display-4 w3-center" data-aos="zoom-in" style="color:grey; margin-top: 20px;">Developers</div>
        <div class="container-fluid" style="margin-bottom: 40px;">
            <div class="row" style="padding:10px;">
              <div class="col-md-6" style="padding: 15px;">
              <div class="zoom"
              style="color:rgb(151, 151, 151);
              box-shadow: 3px 3px 5px grey;
              background-color: rgba(160, 160, 160, 0.192);
              text-align: left;
              padding:10px;
              background-size: cover;
              margin-top:20px ;
              height: 97%;
              " data-aos="flip-left">
              <div class="row">
                <div class="col-sm-5">
                    <img src="{% static "images/rohit.jpg" %}" class="img-fluid img-thumbnail"  style="display:block; margin: auto; ">
                </div>
                <div class="col-sm-7">
                    <row>
                        <h4 style="text-align: left ; font-size:2rem;font-weight:normal; margin-top: 0px; color:black;" data-aos="zoom-in-left"data-aos-duration="5000" data-aos-delay="700">Frontend Developer</h4>
                        <h6 style="text-align: left; font-weight: bolder; color:rgba(0, 0, 0, 0.644);">Rohit Verma (2017-21) CS</h6><br>
                    </row>
                    <div class="row">
                     <div class="col-sm-0 col-md-0" style="text-align: left; padding-left:1rem; column-width:3px; margin-right:0px;"><a href="https://www.linkedin.com/in/rohit-verma-b448aa162/"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 2rem; margin: auto;"></i></a></div>
                     
                          <div class="col" style="text-align: left"> <a href=https://github.com/AssassinCR7><i class="fa fa-github-square" aria-hidden="true" style="font-size: 2rem; margin: auto;"></i></a></div>
                  </div>
                   </div>
                  </div>

              </div>
            </div>
            <div class="col-md-6" style="padding: 15px;">
                <div class="zoom"
                style="color:rgb(151, 151, 151);
                background-color: rgba(160, 160, 160, 0.192);
                box-shadow: 3px 3px 5px grey;
                text-align: left;
                padding:10px;
                background-size: cover;
                margin-top:20px ;
                height: 97%;
                " data-aos="flip-right">
                <div class="row">
                <div class="col-sm-5">
                    <img src="{% static "images/kanishk.jpg" %}" class="img-fluid img-thumbnail"  style="display:block; margin: auto; ">
                </div>
                <div class="col-sm-7">
                    <row>
                        <h4 style="text-align: left ; font-size:2rem;font-weight:normal; margin-top: 0px; color:black;" data-aos="zoom-in-left"data-aos-duration="5000" data-aos-delay="700">Backend Developer</h4>
                        <h6 style="text-align: left; font-weight: bolder; color:rgba(0, 0, 0, 0.644);">Kanishk Singhal (2018-21)
                          CS</h6><br>
                    </row>
                    <div class="row">
                     <div class="col-sm-0 col-md-0" style="text-align: left; padding-left:1rem; column-width:3px; margin-right:0px;"><a href="https://www.linkedin.com/in/kanishk-singhal-119a50175/"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 2rem; margin: auto;"></i></a></div>
                         
                            <div class="col" style="text-align: left"> <a href="https://github.com/dev-kanishk"><i class="fa fa-github-square" aria-hidden="true" style="font-size: 2rem; margin: auto;"></i></a></div>
                    </div>
                   </div>
                  </div>

              </div>
            </div>
        </div>

        </div><!--team content-->
      </div><!--background color-->
     <script>
    AOS.init({
      easing: 'ease-out-back',
      duration: 1500
    });
    $(function(){
      $("#ch").load("modal.html"); 
    });
</script>
        
{% endblock %}
