<!DOCTYPE html>{% extends "base.html" %}
{% load static %}

{% block body_block %}


<!-- <div style="background-image: url(./images/race2.jpeg); background-size: cover; background-attachment: fixed;"> -->
<!--         <div class="container">
                <div class="row" style="padding:10px;">
                  <div class="col-lg-8" s>
                        <div style="color:white;
                        background-color: rgba(36, 36, 36, 0.808);
                        text-align: left;
                        padding:20px;
                        background-size: cover;
                        margin-top:20px;">
                                <h3 style="text-align: center; font-weight: bolder;">E-Yantra</h3>
                                This time total 20 teams under 5 themes from our college
                                participated in E-yantra out of which 7teams qualified for the 2 nd
                                round and further 2 of them became the finalists. <br>
                                Finalists of EYRC 2019: <br>
                                <b>Theme :</b> Hungry Bird <br>
                                <b>Team Leader:</b> Shruti Joshi – ECE 3  <br>
                                <b>Theme :</b> Mocking Bot  <br>
                                <b>Team Leader:</b> Shreya Gupta – EI 3  <br><br>
                        </div> 
                  </div>                 
                <div class="col-lg-4">
                        <img src="{%static "images/ach1.jpeg" %}" style="background-size: cover; width : 90% ; margin: 40px 4% 0px 4%; box-shadow: 9px 9px 9px grey; transform: rotate(5deg);">

                </div>
                </div>
              </div> 
              <div class="container">
                    <div class="row" style="padding:10px;">
                            <div class="col-lg-4">
                                    <img src="{%static "images/ach2.jpeg" %}"  style="background-size: cover; width : 90% ; margin: 35px 4% 30px 4%; transform: rotate(355deg); box-shadow: 9px 9px 9px grey;">
                            </div>
                      <div class="col-lg-8" style="color:rgb(255, 255, 255);
                      text-align: left;
                      background-color: rgba(36, 36, 36, 0.808);
                      background-color: rgba(36, 36, 36, 0.808);background-size: cover;
                      padding:30px;
                      margin-top:20px">
                      <p>
                <h3 style="text-align: center; font-weight: bolder;">Smart India Hackathon</h3>
                This year students of ECE third year
                of our college backed first
                position in the Software Edition. <br>
                <b>Team Leader:</b> Harsh Jain- ECE 3 <br><br>
            </p>
            </div>
        </div>
        </div>
        <div class="container">
                <div class="row" style="padding:10px;">
                  <div class="col-lg-12" style="color:white;
                  text-align: left;
                  background-color: rgba(36, 36, 36, 0.808);
                  padding:30px;
                  background-size: cover;
                  margin-top:20px">
                <h3 style="text-align: center ;font-weight: bolder;">Techkriti</h3>
                The participation in Techkriti has
                significantly improved.
                4 teams from second year and 12
                teams from first year participated in
                Techkriti 2k19. Out of which many
                cleared the first stages in their
                respective competitions.<br>
                <b>Team:</b> Error 404<br>
                <b>Team leader:</b> Koustubh Jaiswal: EE 2 nd <br>
                <b>Team:</b> DHANUSH <br>
                <b>Team Leader :</b> Shrikrishan Baghel :ECE-2 nd <br><br>
                  </div>
                </div>
        </div>
        <div class="container">
                <div class="row" style="padding:10px;">
                  <div class="col-lg-8" style="color:rgb(0, 0, 0);

                  color: white;
                  text-align: left;
                  background-color: rgba(36, 36, 36, 0.808);
                  padding:30px;
                  background-size: cover;
                  margin-top:20px">
                  <p>
            <h3 style="text-align: center; font-weight: bolder;">Robowars</h3>
            IIT Patna – 1 st position in 10kg cat.
            IIT BHU - 1 st position in 60kg cat.
            Meerut Institute of Engineering
            and Technology - 3 rd position in
            30kg cat.<br>
            <b>Team Member:</b> Shubham Singh (ECE 2 ND ),
            Vikas Kumar (ECE 2 ND ), Yogesh
            Yadav (EE 3 RD )<br><br></p></div>
            <div class="col-lg-4">
                    <img src="{%static "images/ach3.jpeg" %}"  style="background-size: cover; width : 90% ; margin: 35px 4% 30px 4%; transform: rotate(5deg); box-shadow: 9px 9px 9px grey;">

            </div>
            </div>
            </div>
        </div> -->

          <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
          <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<div class="achivementcontent">
            <div class="w3-2018-meerkat">
              <div class="container">
                      <div class="row" style="padding:10px;">
                        <div class="col-lg-8 " s>
                              <div class="w3-2018-lime-punch zoom" data-aos="zoom-out"
                              style="color:white;
                              text-align: left;
                              padding:20px;
                              background-size: cover;
                              margin-top:20px;">
                                      <h3 data-aos="fade-left" data-aos-delay="700"style="text-align: center; font-weight: bolder;">E-Yantra</h3>
                                      This time total 20 teams under 5 themes from our college
                                      participated in E-yantra out of which 7teams qualified for the 2 nd
                                      round and further 2 of them became the finalists. <br>
                                      Finalists of EYRC 2019: <br>
                                      <b>Theme :</b> Hungry Bird <br>
                                      <b>Team Leader:</b> Shruti Joshi – ECE 3  <br>
                                      <b>Theme :</b> Mocking Bot  <br>
                                      <b>Team Leader:</b> Shreya Gupta – EI 3  <br><br>
                              </div> 
                        </div>                 
                      <div class="col-lg-4" data-aos="fade-down-right" data-aos-delay="700">
                              <img class="zoomimg" 
                               src="{%static "images/ach1.jpeg" %}" style="background-size: cover; width : 90% ; margin: 40px 4% 0px 4%; transform: rotate(5deg);">
      
                      </div>
                      </div>
                    </div> 
                    <div class="container">
                          <div class="row" style="padding:10px;">
                                  <div class="col-lg-4" data-aos="fade-up-left" data-aos-delay="700">
                                          <img class="zoomimg" 
                                          src="{%static "images/ach2.jpeg" %}" style="background-size: cover; width : 90% ; margin: 35px 4% 30px 4%; transform: rotate(355deg);">
                                  </div>
                            <div class="col-lg-8 w3-win8-blue zoom" data-aos="flip-right"
                            style="color:rgb(255, 255, 255);
                            text-align: left;
                            background-size: cover;
                            padding:30px;
                            margin-top:20px">
                            <p>
                      <h3 data-aos="flip-down" data-aos-delay="700"style="text-align: center; font-weight: bolder;">Smart India Hackathon</h3>
                      This year students of ECE third year
                      of our college backed first
                      position in the Software Edition. <br>
                      <b>Team Leader:</b> Harsh Jain- ECE 3 <br><br>
                  </p>
                  </div>
              </div>
              </div>
              <div class="container">
                      <div class="row" style="padding:10px;">
                        <div class="col-lg-12 w3-metro-orange zoom" data-aos="zoom-in"
                        style="color:white;
                        text-align: left;
                    
                        padding:30px;
                        background-size: cover;
                        margin-top:20px">
                      <h3 data-aos="zoom-in-right" data-aos-delay="700"style="text-align: center ;font-weight: bolder;">Techkriti</h3>
                      The participation in Techkriti has
                      significantly improved.
                      4 teams from second year and 12
                      teams from first year participated in
                      Techkriti 2k19. Out of which many
                      cleared the first stages in their
                      respective competitions.<br>
                      <b>Team:</b> Error 404<br>
                      <b>Team leader:</b> Koustubh Jaiswal: EE 2 nd <br>
                      <b>Team:</b> DHANUSH <br>
                      <b>Team Leader :</b> Shrikrishan Baghel :ECE-2 nd <br><br>
                        </div>
                      </div>
              </div>
              <div class="container">
                      <div class="row" style="padding:10px;">
                        <div class="col-lg-8 w3-metro-dark-red zoom" data-aos="fade-down"
                        style="color:rgb(0, 0, 0);
      
                        color: white;
                        text-align: left;
                        padding:30px;
                        background-size: cover;
                        margin-top:20px">
                        <p >
                  <h3 data-aos="flip-right" data-aos-delay="700" style="text-align: center; font-weight: bolder;">Robowars</h3>
                  IIT Patna – 1 st position in 10kg cat.
                  IIT BHU - 1 st position in 60kg cat.
                  Meerut Institute of Engineering
                  and Technology - 3 rd position in
                  30kg cat.<br>
                  <b>Team Member:</b> Shubham Singh (ECE 2 ND ),
                  Vikas Kumar (ECE 2 ND ), Yogesh
                  Yadav (EE 3 RD )<br><br></p></div>
                  <div class="col-lg-4" data-aos="fade-up-right" data-aos-delay="700">
                          <img class="zoomimg" 
                          src="{%static "images/ach3.jpeg" %}" style="background-size: cover; width : 90% ; margin: 35px 4% 30px 4%; transform: rotate(5deg);">
      
                  </div>
                  </div>
                  </div>
              </div>
        </div><!--achieveemncontent-->
</body>

<script>
    AOS.init({
      easing: 'ease-out-back',
      duration: 1200
    });
    $(function(){
      $("#ch").load("modal.html"); 
    });
</script>
</html>

        {% endblock %}